/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


/* Colors */
:root {
    --color-primary: #E6F8B2;
    --color-secondary: #CDE77F;
    --color-tertiary: #709176;;



    --color-text: #704E2E;
    --color-text-light: #79745C;
}

body{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* ///buttons */
button {
    padding: 10px;
    background-color: green;
}

/* icons */
ion-icon {
    font-size: 150px;
    color: black;
}