/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


/* Colors */
:root {
    --color-primary: #12355b;
    --color-secondary: #ffffff;
    --color-tertiary: #ff570a;
    --color-dark: #420039;

    --color-error: #D72638;
    --color-success: #28a745;
    --color-text: #333333;
    --color-text-light: #666666;

    --font-title: "Poppins", sans-serif;
    --font-text: "EB Garamond", serif;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6, button {
    font-family: var(--font-title);
    color: var(--color-text);
}
/* text */
.error {
    color: var(--color-error);
}

/* ///buttons */
button {
    padding: 10px;
    background-color: green;
}

/* icons */
ion-icon {
    font-size: 80px;
    color: var(--color-text);
}